
.container-fluid .container,.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-container{
    width:100%;

}

.item-image{
    width: 100%;
}

@media screen and (max-width:410px){
    .row{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        align-items: center;
        justify-content: flex-start;
    }
    .item-container{
        width:100%;
    }
    
    .item-image{
        width: 100%;
    }
}