#aboutmid{
    height:90vh;
    padding: 0;
   
}
.owner-info{
    width:20%;
    height: 100%;
    /* background-color: beige; */
}
.ownerinfo-container
{
    width: 100%;
    height: 70%;
    background-color: rgb(19, 126, 126);
    color: white;
}
.owner-img{
    height:60%;
    width:90%;
    border-radius: 50%;
}
.owner-info p{
    width: 100%;
    margin: auto;
}
@media screen and (max-width:410px){
    p{
        width:100%;
    }
     #aboutmid{
        height:180vh;        
    }
    .ownerinfo-container
    {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }

    .owner-info{
        margin-top: 1.5rem;
        width:90%;
        
    }
    .owner-img{
        height:60%;
        width:80%;
    }

}