
#footer{
    background-color: rgb(19, 126, 126);
    color: white;
    width: 100%;
}

.footer-right{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-right-right{
    width: 100%;
    display: flex;
   justify-content: center;
}

.footer-child-1,.footer-child-2,.footer-child-3{
    height: auto;
    width: 25%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;  */
}

@media screen and (max-width:650px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-child-1,.footer-child-2,.footer-child-3{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:1rem ;
        /* background-color: beige; */
    }
    .footer-right
    {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer-right-right{
        width:100%;

    }
    .footer-right-left{
        width:100%;
    }
}