/* .footer-container{
    background-color: rgb(228, 155, 77);
    height:20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.quicklink-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    font-weight: 400;
    width: 20%;
}

.social-container{
    width: 20%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-weight: 400;
}
.social-container div{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

#footer{
    background-color:#bbe6e9;
    width: 100%;
}

.footer-right{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-right-right{
    width: 70%;
    display: flex;
   justify-content: center;
}

.footer-child{
    width: 30%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-right-left{
    width :20%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:410px){
    footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-child{
        width: 100%;
        flex-direction: row;
        margin-bottom:1rem ;
        /* background-color: beige; */
    }
    .footer-right
    {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer-right-right{
        width:100%;

    }
    .footer-right-left{
        width:100%;
    }
}